ei<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
      $(function(){
        $("#gu").change(function(){
          var gu = $(this).val();
          getdong(gu);
        });

        $("#submitButton").click(function(e){
          e.preventDefault();
          $("#dataForm").submit();
        })

        });
        
        function getdong(gu){
          $.ajax({
          url: 'getdong/',
          data: {'gu': gu},
          dataType: 'json',
          success: function(msg){
            $("#dong").empty();
            var values = Object.values(msg[gu])
            for (var i = 0; i < values.length; i++){
              $("#dong").append($("<option value="+values[i]+">"+values[i]+"</option>"));
              }
          },
          error: function(){
            alert('구군 통신 실패');
          }

          });
        }



</script>

<style>
  *{
    margin: 0px;
    padding: 0px;
  }
  div{
    margin-top: 100px;
    margin-left: 20px;
  }
  .wrapper{
    margin-top: 200px;
    margin-left: 50px;
  }
  select{
    margin-top: 15px;
    margin-bottom: 30px;
    height: 30px;
    font-size: 90%;
  }
  #submitButton{
    width: 130px;
    height: 30px;
  
  }

</style>


<body>

<form action="{% url 'mappage' %}" method="POST" id="dataForm">
    {% csrf_token %}
    <div class="wrapper" style="float: left; width: 30%">
        <h2>지역을 선택해 주세요.</h2>
            <select id="gu" name="gu">
                <option value="all">구</option>
                <option value="강남구">강남구</option>
                <option value="강동구">강동구</option>
                <option value="강북구">강북구</option>
                <option value="강서구">강서구</option>
                <option value="관악구">관악구</option>
                <option value="광진구">광진구</option>
                <option value="구로구">구로구</option>
                <option value="금천구">금천구</option>
                <option value="노원구">노원구</option>
                <option value="도봉구">도봉구</option>
                <option value="동대문구">동대문구</option>
                <option value="동작구">동작구</option>
                <option value="마포구">마포구</option>
                <option value="서대문구">서대문구</option>
                <option value="서초구">서초구</option>
                <option value="성동구">성동구</option>
                <option value="성북구">성북구</option>
                <option value="송파구">송파구</option>
                <option value="양천구">양천구</option>
                <option value="영등포구">영등포구</option>
                <option value="용산구">용산구</option>
                <option value="은평구">은평구</option>
                <option value="종로구">종로구</option>
                <option value="중구">중구</option>
                <option value="중랑구">중랑구</option>
 

            </select>
            <select id="dong" name="dong">
                <option value="all">동</option>
            </select>
        <br>
        
        <h2>원하는 메뉴 형식을 골라주세요.</h2>
        <select id="menu" name="menutype">
            <option value="all">전체</option>
            <option value="한식">한식</option>
            <option value="중식">중식</option>
            <option value="양식">양식</option>
            <option value="일식">일식</option>
            <option value="해산물">해산물</option>
            <option value="뷔페">뷔페</option>
            <option value="주류">주류</option>
            <option value="기타">기타</option>
            <option value="카페/디저트">카페/디저트</option>
        </select>
        
        <h2>가격대를 선정해 주세요.</h2>
        <select id="price" name="pricetype">
            <option value="won_all">전체</option>
            <option value="7000원 이하">7000원 이하</option>
            <option value="7000원 이상 ~ 10000원 이하">7000원 이상 ~ 10000원 이하</option>
            <option value="10000원 이상 ~ 15000원 이하">10000원 이상 ~ 15000원 이하</option>
            <option value="15000원 이상 ~ 20000원 이상">15000원 이상 ~ 20000원 이상</option>
            <option value="20000원 초과">20000원 초과</option>
        </select>
        
        <p>
<!--            <button type="button" onclick="location.href='{% url 'mappage' %}'">확인</button>-->
            <input type="button" value="확인" id="submitButton"/>
        </p>
    </div>
    <div style="float: left; width: 50%">
      {% load static %}
      <img src="{% static 'seoul.png' %}" alt="">

    </div>
</form>



</body>
</html>