<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script type="text/javascript"
	src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=h0hatymncv&submodules=geocoder">
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>


<style>       
    div.left {
        width: 50%;
        float:  left;
        box-sizing: border-box;

    }
    div.right{
        width: 50%;
        float: right;
        box-sizing: border-box;
    }
</style>

<body>
{{ data_lst }}
    <div>
        
        <div class="left">
        <ul>식당리스트</ul>
        </div>

            <h1>지도 넣을 거임</h1>
        <div class="right" id="map" style="width:60%;height:600px;">

        </div>

    </div>



</body>

<script>
$(function(){


    
    var map = new naver.maps.Map(document.getElementById('map'), {
    zoom: 16,
    center: new naver.maps.LatLng(37.5666103, 126.9783882)  // 서울시 좌표값
    });

var infoWindow = new naver.maps.InfoWindow({
  anchorSkew: true
});

                                       // 검색할 주소 넣어주면 됨
naver.maps.Service.geocode({ address: "{{data_lst.gu}}" }, function(status, response) {
            if (status === naver.maps.Service.Status.ERROR) {
                return alert('Something wrong!');
            };
            var new_position = new naver.maps.LatLng(response.v2.addresses[0].y, response.v2.addresses[0].x)
            map.setCenter(new_position);   // 요구하는 검색 주소로 이동하면 그 주변 지도 값 표현

        });

// 반복문으로 다중 마커부여

var markerList = {{newadd_lst}};

for (var i=0, ii=markerList.length; i<ii; i++) {

  naver.maps.Service.geocode({
	        query: markerList[i]
	    }, function(status, response) {
	        if (status !== naver.maps.Service.Status.OK) {
	            return alert('Something wrong!');
	        };

	        var result = response.v2, // 검색 결과의 컨테이너
	            items = result.addresses; // 검색 결과의 배열

	        // 리턴 받은 좌표 값을 변수에 저장
	        let x = parseFloat(items[0].x);
	        let y = parseFloat(items[0].y);

	        // 지도에 해당 좌표 마커(아이콘 설정)
	        var markerOptions = {
	        	    position: new naver.maps.LatLng(y, x), //마커찍을 좌표
	        	    map: map,
                    icon: {
                        url: 'resources/img/marker.png',
                        size: new naver.maps.Size(22, 36), //아이콘 크기
                        origin: new naver.maps.Point(0, 0),
	        	        anchor: new naver.maps.Point(11, 35)

	        	    }
                };
            // 마커 생성
	        var marker = new naver.maps.Marker(markerOptions);
	    });

};
})


</script>
</html>